# Importing the Dependencies

In [1]:
import pandas as pd                 # For dataframe handling
import numpy as np                  # For matrix and list computations
import matplotlib.pyplot as plt     # For advanced graphse

# Data Collection and Processing

In [2]:
# loading the dataset to pandas DataFrame
url = 'https://raw.githubusercontent.com/aloa04/tfm/main/model_ml/ds_toPredict/HUVS_tp.csv'
ds = pd.read_csv(url)

In [3]:
ds

,Activos,STD_ID_PERSON,STD_N_GENDERESP,Num_Periodo,SSP_ID_CONT_INTERN,SSP_NM_CONT_INESP,SSP_NO_DEFINIDO,CSP_N_AG_CATEGOR,CSP_NM_CATEGORESP,STD_N_WU_TYPEESP,STD_WORK_LOCESP,CSP_N_COLECTIVO,Edad,Nacionalidad,SSP_ID_MINUSVALIA
0,1,1000016,0,2,6,39,0,2,5,66,0,0,39,9,0
1,1,1000026,0,1,1,40,0,2,5,70,0,0,41,9,0
2,1,1000107,1,2,1,40,0,2,5,68,0,0,51,9,0
3,1,1000125,0,1,1,40,0,2,6,76,0,0,38,9,0
4,1,1000146,0,1,13,2,1,1,2,26,0,1,49,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13261,0,1014838,0,1,1,40,0,0,0,24,0,0,48,9,0
13262,0,1015223,0,1,1,40,0,0,0,53,0,0,39,9,0
13263,0,1016345,0,1,5,12,0,0,1,57,0,0,35,17,0
13264,0,1006377,0,5,5,12,0,1,3,31,0,0,41,9,0
13265,0,1014865,0,1,1,40,0,0,1,6,0,0,40,9,0

In [4]:
ds.shape

(13266, 15)