# Importing the Dependencies

In [1]:
import pandas as pd                 # For dataframe handling
import numpy as np                  # For matrix and list computations
import matplotlib.pyplot as plt     # For advanced graphse

# Data Collection and Processing

In [2]:
# loading the dataset to pandas DataFrame
url = 'https://raw.githubusercontent.com/aloa04/tfm/main/model_ml/ds_toPredict/HUVS_tp.csv'
ds = pd.read_csv(url)

In [3]:
ds

,NM_ORGANIZATIONESP,STD_N_HR_TYPEESP,Año,AñoMes,STD_ID_PERSON,STD_N_GENDERESP,Num. Periodo,SSP_ID_CONT_INTERN,SSP_NM_CONT_INESP,Fecha Inicio,...,STD_N_WU_TYPEESP,STD_N_WL_TYPEESP,STD_WORK_LOCESP,CSP_N_COLECTIVO,STD_DT_BIRTH,Edad,RangoEdad,Nacionalidad,SSP_ID_MINUSVALIA,Nombre de la minusvalia : Span
0,Hospital de ELCHE,Empleado,2018,201801,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
1,Hospital de ELCHE,Empleado,2018,201801,1000005,Mujer,1,100,ORDINARIO INDEFINIDO TP COMPLETO,02/06/2008,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,05/07/1970,53,Mas de 50,Española,-2,Sin Valor
2,Hospital de ELCHE,Empleado,2018,201801,1000014,Varon,1,189,INDEFINIDO TP COMPL TRANSF DE TEMPO,20/01/2009,...,Area Infraestructuras y SSGG (Employees),Atencion Especializada,HospitalB,Estructura,24/05/1982,41,41-50,Española,-2,Sin Valor
3,Hospital de ELCHE,Empleado,2018,201801,1000015,Mujer,1,200,ORDINARIO A TIEMPO PARCIAL INDEFINI,14/04/2009,...,Area Gestion de Personas (Employees),Atencion Especializada,HospitalB,Estructura,29/05/1976,47,41-50,Española,-2,Sin Valor
4,Hospital de ELCHE,Empleado,2018,201801,1000016,Mujer,1,200,ORDINARIO A TIEMPO PARCIAL INDEFINI,14/04/2009,...,"Area Comunicacion, Marketing y RSC (Employees)",Atencion Especializada,HospitalB,Estructura,01/10/1984,39,25-40,Española,-2,Sin Valor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84888,Hospital de ELCHE,Empleado,2022,202207,1030757,Mujer,1,402V,EVENTUAL (SUST. VACACIONES),04/07/2022,...,Area Admision y Gestion de Pacientes (Employees),Atencion Especializada,HospitalB,Sustituciones,30/06/1992,31,25-40,Española,-2,Sin Valor
84889,Hospital de ELCHE,Empleado,2022,202207,1030762,Mujer,1,410I,INTERINIDAD (SUST. IT),02/07/2022,...,E Paritorio,Atencion Especializada,HospitalB,Sustituciones,05/02/1987,36,25-40,Española,-2,Sin Valor
84890,Hospital de ELCHE,Empleado,2022,202207,1030763,Mujer,1,510G,INTERINIDAD T.PARCIA (GUARDA LEGAL),01/07/2022,...,E Dialisis,Atencion Especializada,HospitalB,Estructura,18/08/1980,43,41-50,Española,-2,Sin Valor
84891,Hospital de ELCHE,Empleado,2022,202207,1030780,Valor no dado de alta en maestro,1,402V,EVENTUAL (SUST. VACACIONES),01/07/2022,...,E Urgencias,Atencion Especializada,HospitalB,Sustituciones,03/12/1985,38,25-40,Española,-2,Sin Valor
84892,Hospital de ELCHE,Empleado,2022,202207,1030781,Varon,1,402V,EVENTUAL (SUST. VACACIONES),01/07/2022,...,E Urgencias,Atencion Especializada,HospitalB,Sustituciones,29/09/2000,23,Menos de 25,Española,-2,Sin Valor

In [4]:
ds.shape

(84893, 25)

## Transform Data

In [5]:
ds = ds.rename(columns={'Año':'Anyo', 'AñoMes':'AnyoMes', 'Num. Periodo':'Num_Periodo'})

In [6]:
ds = ds.drop(ds[ds["STD_N_GENDERESP"]=='Valor no dado de alta en maestro'].index)

# Clean DS

In [7]:
ds.sort_values("STD_ID_PERSON", inplace = True)
ds

,NM_ORGANIZATIONESP,STD_N_HR_TYPEESP,Anyo,AnyoMes,STD_ID_PERSON,STD_N_GENDERESP,Num_Periodo,SSP_ID_CONT_INTERN,SSP_NM_CONT_INESP,Fecha Inicio,...,STD_N_WU_TYPEESP,STD_N_WL_TYPEESP,STD_WORK_LOCESP,CSP_N_COLECTIVO,STD_DT_BIRTH,Edad,RangoEdad,Nacionalidad,SSP_ID_MINUSVALIA,Nombre de la minusvalia : Span
0,Hospital de ELCHE,Empleado,2018,201801,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
8472,Hospital de ELCHE,Empleado,2018,201807,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
9977,Hospital de ELCHE,Empleado,2018,201808,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
11488,Hospital de ELCHE,Empleado,2018,201809,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
12991,Hospital de ELCHE,Empleado,2018,201810,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84887,Hospital de ELCHE,Empleado,2022,202207,1030728,Mujer,1,402T,EVENTUAL (ESTRUCTURA),05/07/2022,...,Area Admision y Gestion de Pacientes (Employees),Atencion Especializada,HospitalB,Estructura,04/08/1969,54,Mas de 50,Española,-2,Sin Valor
84888,Hospital de ELCHE,Empleado,2022,202207,1030757,Mujer,1,402V,EVENTUAL (SUST. VACACIONES),04/07/2022,...,Area Admision y Gestion de Pacientes (Employees),Atencion Especializada,HospitalB,Sustituciones,30/06/1992,31,25-40,Española,-2,Sin Valor
84889,Hospital de ELCHE,Empleado,2022,202207,1030762,Mujer,1,410I,INTERINIDAD (SUST. IT),02/07/2022,...,E Paritorio,Atencion Especializada,HospitalB,Sustituciones,05/02/1987,36,25-40,Española,-2,Sin Valor
84890,Hospital de ELCHE,Empleado,2022,202207,1030763,Mujer,1,510G,INTERINIDAD T.PARCIA (GUARDA LEGAL),01/07/2022,...,E Dialisis,Atencion Especializada,HospitalB,Estructura,18/08/1980,43,41-50,Española,-2,Sin Valor
84892,Hospital de ELCHE,Empleado,2022,202207,1030781,Varon,1,402V,EVENTUAL (SUST. VACACIONES),01/07/2022,...,E Urgencias,Atencion Especializada,HospitalB,Sustituciones,29/09/2000,23,Menos de 25,Española,-2,Sin Valor

In [8]:
ds = ds.drop(columns="AnyoMes")
ds = ds.drop(columns="Anyo")

ds

,NM_ORGANIZATIONESP,STD_N_HR_TYPEESP,STD_ID_PERSON,STD_N_GENDERESP,Num_Periodo,SSP_ID_CONT_INTERN,SSP_NM_CONT_INESP,Fecha Inicio,Fecha_Inicio_contra,Fecha_Fin_contra,...,STD_N_WU_TYPEESP,STD_N_WL_TYPEESP,STD_WORK_LOCESP,CSP_N_COLECTIVO,STD_DT_BIRTH,Edad,RangoEdad,Nacionalidad,SSP_ID_MINUSVALIA,Nombre de la minusvalia : Span
0,Hospital de ELCHE,Empleado,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,01/04/2008,31/05/2019,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
8472,Hospital de ELCHE,Empleado,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,01/04/2008,31/05/2019,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
9977,Hospital de ELCHE,Empleado,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,01/04/2008,31/05/2019,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
11488,Hospital de ELCHE,Empleado,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,01/04/2008,31/05/2019,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
12991,Hospital de ELCHE,Empleado,1000004,Varon,1,100,ORDINARIO INDEFINIDO TP COMPLETO,01/04/2008,01/04/2008,31/05/2019,...,Area Gerencia (Employees),Atencion Especializada,HospitalB,Estructura,30/07/1950,73,Mas de 50,Española,-2,Sin Valor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84887,Hospital de ELCHE,Empleado,1030728,Mujer,1,402T,EVENTUAL (ESTRUCTURA),05/07/2022,05/07/2022,04/08/2022,...,Area Admision y Gestion de Pacientes (Employees),Atencion Especializada,HospitalB,Estructura,04/08/1969,54,Mas de 50,Española,-2,Sin Valor
84888,Hospital de ELCHE,Empleado,1030757,Mujer,1,402V,EVENTUAL (SUST. VACACIONES),04/07/2022,04/07/2022,02/09/2022,...,Area Admision y Gestion de Pacientes (Employees),Atencion Especializada,HospitalB,Sustituciones,30/06/1992,31,25-40,Española,-2,Sin Valor
84889,Hospital de ELCHE,Empleado,1030762,Mujer,1,410I,INTERINIDAD (SUST. IT),02/07/2022,02/07/2022,01/01/4000,...,E Paritorio,Atencion Especializada,HospitalB,Sustituciones,05/02/1987,36,25-40,Española,-2,Sin Valor
84890,Hospital de ELCHE,Empleado,1030763,Mujer,1,510G,INTERINIDAD T.PARCIA (GUARDA LEGAL),01/07/2022,01/07/2022,01/01/4000,...,E Dialisis,Atencion Especializada,HospitalB,Estructura,18/08/1980,43,41-50,Española,-2,Sin Valor
84892,Hospital de ELCHE,Empleado,1030781,Varon,1,402V,EVENTUAL (SUST. VACACIONES),01/07/2022,01/07/2022,30/09/2022,...,E Urgencias,Atencion Especializada,HospitalB,Sustituciones,29/09/2000,23,Menos de 25,Española,-2,Sin Valor

In [9]:
ds = ds.drop_duplicates()
ds.shape

(10202, 23)

# Processing Data

In [10]:
drop=['STD_N_WL_TYPEESP', 'NM_ORGANIZATIONESP', 'STD_N_HR_TYPEESP', 'Fecha Inicio', 'Fecha_Inicio_contra', 'Fecha_Fin_contra', 'STD_DT_BIRTH', 'RangoEdad', 'Nombre de la minusvalia : Span']
ds=ds.drop(drop, axis=1)

In [11]:
ds.shape

(10202, 14)

In [12]:
# number of missing values in each column
ds.isnull().sum()

STD_ID_PERSON         0
STD_N_GENDERESP       0
Num_Periodo           0
SSP_ID_CONT_INTERN    0
SSP_NM_CONT_INESP     0
SSP_NO_DEFINIDO       4
CSP_N_AG_CATEGOR      0
CSP_NM_CATEGORESP     0
STD_N_WU_TYPEESP      0
STD_WORK_LOCESP       0
CSP_N_COLECTIVO       0
Edad                  0
Nacionalidad          0
SSP_ID_MINUSVALIA     0
dtype: int64

In [13]:
ds = ds.dropna()

## Re-Transform Data

In [14]:
# convert categorical columns to numerical values
ds.replace({'CSP_N_COLECTIVO':{'Estructura':0,'Refuerzos':1,'Sustituciones':2}, "STD_N_GENDERESP":{'Mujer':0,'Varon':1}, 'STD_WORK_LOCESP':{'HospitalB':0,'CentroB1':1},'SSP_NO_DEFINIDO':{'S':0,'N':1},
            'CSP_N_AG_CATEGOR':{'Asistenciales licenciados':0,'Asistenciales No Licenciados':1,'No Asistenciales':2}}
                     ,inplace=True)

In [15]:
ds["SSP_NM_CONT_INESP"] = ds["SSP_NM_CONT_INESP"].astype('category')
ds["SSP_NM_CONT_INESP"] = ds["SSP_NM_CONT_INESP"].cat.codes

In [16]:
ds["CSP_NM_CATEGORESP"] = ds["CSP_NM_CATEGORESP"].astype('category')
ds["CSP_NM_CATEGORESP"] = ds["CSP_NM_CATEGORESP"].cat.codes

In [17]:
ds["STD_N_WU_TYPEESP"] = ds["STD_N_WU_TYPEESP"].astype('category')
ds["STD_N_WU_TYPEESP"] = ds["STD_N_WU_TYPEESP"].cat.codes

In [18]:
ds["Nacionalidad"] = ds["Nacionalidad"].astype('category')
ds["Nacionalidad"] = ds["Nacionalidad"].cat.codes

In [19]:
ds["SSP_ID_CONT_INTERN"] = ds["SSP_ID_CONT_INTERN"].astype('category')
ds["SSP_ID_CONT_INTERN"] = ds["SSP_ID_CONT_INTERN"].cat.codes

In [20]:
ds["SSP_ID_MINUSVALIA"] = ds["SSP_ID_MINUSVALIA"].astype('category')
ds["SSP_ID_MINUSVALIA"] = ds["SSP_ID_MINUSVALIA"].cat.codes

In [21]:
ds.head()

,STD_ID_PERSON,STD_N_GENDERESP,Num_Periodo,SSP_ID_CONT_INTERN,SSP_NM_CONT_INESP,SSP_NO_DEFINIDO,CSP_N_AG_CATEGOR,CSP_NM_CATEGORESP,STD_N_WU_TYPEESP,STD_WORK_LOCESP,CSP_N_COLECTIVO,Edad,Nacionalidad,SSP_ID_MINUSVALIA
0,1000004,1,1,2,55,0,2,0,14,0,0,73,15,0
38319,1000005,0,1,2,55,0,2,9,14,0,0,53,15,0
60842,1000014,1,1,6,20,0,2,10,16,0,0,41,15,0
81789,1000014,1,2,6,20,0,2,10,5,0,0,41,15,0
78733,1000014,1,1,6,20,0,2,10,16,0,0,41,15,0

In [22]:
ds.shape

(10198, 14)

# Load Model

In [23]:
from sklearn.preprocessing import StandardScaler
from joblib import dump
from joblib import load
from urllib.request import urlopen
import joblib

In [24]:
ds.dtypes

STD_ID_PERSON          int64
STD_N_GENDERESP        int64
Num_Periodo            int64
SSP_ID_CONT_INTERN      int8
SSP_NM_CONT_INESP       int8
SSP_NO_DEFINIDO        int64
CSP_N_AG_CATEGOR      object
CSP_NM_CATEGORESP       int8
STD_N_WU_TYPEESP        int8
STD_WORK_LOCESP       object
CSP_N_COLECTIVO       object
Edad                   int64
Nacionalidad            int8
SSP_ID_MINUSVALIA       int8
dtype: object

In [25]:
ds

,STD_ID_PERSON,STD_N_GENDERESP,Num_Periodo,SSP_ID_CONT_INTERN,SSP_NM_CONT_INESP,SSP_NO_DEFINIDO,CSP_N_AG_CATEGOR,CSP_NM_CATEGORESP,STD_N_WU_TYPEESP,STD_WORK_LOCESP,CSP_N_COLECTIVO,Edad,Nacionalidad,SSP_ID_MINUSVALIA
0,1000004,1,1,2,55,0,2,0,14,0,0,73,15,0
38319,1000005,0,1,2,55,0,2,9,14,0,0,53,15,0
60842,1000014,1,1,6,20,0,2,10,16,0,0,41,15,0
81789,1000014,1,2,6,20,0,2,10,5,0,0,41,15,0
78733,1000014,1,1,6,20,0,2,10,16,0,0,41,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84887,1030728,0,1,29,2,1,2,10,5,0,0,54,15,0
84888,1030757,0,1,30,10,1,2,10,5,0,2,31,15,0
84889,1030762,0,1,36,26,1,1,4,52,0,2,36,15,0
84890,1030763,0,1,55,36,0,1,4,35,0,0,43,15,0
84892,1030781,1,1,30,10,1,1,11,64,0,2,23,15,0

In [26]:
ds=ds.apply(lambda col:pd.to_numeric(col, errors='coerce'))

In [27]:
ds

,STD_ID_PERSON,STD_N_GENDERESP,Num_Periodo,SSP_ID_CONT_INTERN,SSP_NM_CONT_INESP,SSP_NO_DEFINIDO,CSP_N_AG_CATEGOR,CSP_NM_CATEGORESP,STD_N_WU_TYPEESP,STD_WORK_LOCESP,CSP_N_COLECTIVO,Edad,Nacionalidad,SSP_ID_MINUSVALIA
0,1000004,1,1,2,55,0,2.0,0,14,0.0,0.0,73,15,0
38319,1000005,0,1,2,55,0,2.0,9,14,0.0,0.0,53,15,0
60842,1000014,1,1,6,20,0,2.0,10,16,0.0,0.0,41,15,0
81789,1000014,1,2,6,20,0,2.0,10,5,0.0,0.0,41,15,0
78733,1000014,1,1,6,20,0,2.0,10,16,0.0,0.0,41,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84887,1030728,0,1,29,2,1,2.0,10,5,0.0,0.0,54,15,0
84888,1030757,0,1,30,10,1,2.0,10,5,0.0,2.0,31,15,0
84889,1030762,0,1,36,26,1,1.0,4,52,0.0,2.0,36,15,0
84890,1030763,0,1,55,36,0,1.0,4,35,0.0,0.0,43,15,0
84892,1030781,1,1,30,10,1,1.0,11,64,0.0,2.0,23,15,0

In [28]:
ds.dtypes

STD_ID_PERSON           int64
STD_N_GENDERESP         int64
Num_Periodo             int64
SSP_ID_CONT_INTERN       int8
SSP_NM_CONT_INESP        int8
SSP_NO_DEFINIDO         int64
CSP_N_AG_CATEGOR      float64
CSP_NM_CATEGORESP        int8
STD_N_WU_TYPEESP         int8
STD_WORK_LOCESP       float64
CSP_N_COLECTIVO       float64
Edad                    int64
Nacionalidad             int8
SSP_ID_MINUSVALIA        int8
dtype: object

In [29]:
ds.shape

(10198, 14)

In [30]:
ds.shape

(10198, 14)

In [31]:
ds.isnull().sum()

STD_ID_PERSON            0
STD_N_GENDERESP          0
Num_Periodo              0
SSP_ID_CONT_INTERN       0
SSP_NM_CONT_INESP        0
SSP_NO_DEFINIDO          0
CSP_N_AG_CATEGOR        18
CSP_NM_CATEGORESP        0
STD_N_WU_TYPEESP         0
STD_WORK_LOCESP       1806
CSP_N_COLECTIVO          2
Edad                     0
Nacionalidad             0
SSP_ID_MINUSVALIA        0
dtype: int64

In [32]:
ds=ds.dropna()

In [33]:
ds['SSP_ID_CONT_INTERN'] = ds['SSP_ID_CONT_INTERN'].astype(np.int64)
ds['SSP_NM_CONT_INESP'] = ds['SSP_NM_CONT_INESP'].astype(np.int64)
ds['CSP_N_AG_CATEGOR'] = ds['CSP_N_AG_CATEGOR'].astype(np.int64)
ds['CSP_NM_CATEGORESP'] = ds['CSP_NM_CATEGORESP'].astype(np.int64)
ds['STD_N_WU_TYPEESP'] = ds['STD_N_WU_TYPEESP'].astype(np.int64)
ds['STD_WORK_LOCESP'] = ds['STD_WORK_LOCESP'].astype(np.int64)
ds['CSP_N_COLECTIVO'] = ds['CSP_N_COLECTIVO'].astype(np.int64)
ds['Nacionalidad'] = ds['Nacionalidad'].astype(np.int64)
ds['SSP_ID_MINUSVALIA'] = ds['SSP_ID_MINUSVALIA'].astype(np.int64)

<ipython-input-33-fdc8c970dc10>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['SSP_ID_CONT_INTERN'] = ds['SSP_ID_CONT_INTERN'].astype(np.int64)
<ipython-input-33-fdc8c970dc10>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['SSP_NM_CONT_INESP'] = ds['SSP_NM_CONT_INESP'].astype(np.int64)
<ipython-input-33-fdc8c970dc10>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['CSP_N_AG_CATEGOR'] = ds['CSP_N_AG_CATEGOR'].astype(np.int64)
<ipython-input-33-fdc8c970dc10>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['CSP_NM_CATEGORESP'] = ds['CSP_NM_CATEGORESP'].astype(np.int64)
<ipython-input-33-fdc8c970dc10>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['STD_N_WU_TYPEESP'] = ds['STD_N_WU_TYPEESP'].astype(np.int64)
<ipython-input-33-fdc8c970dc10>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['STD_WORK_LOCESP'] = ds['STD_WORK_LOCESP'].astype(np.int64)
<ipython-input-33-fdc8c970dc10>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['CSP_N_COLECTIVO'] = ds['CSP_N_COLECTIVO'].astype(np.int64)
<ipython-input-33-fdc8c970dc10>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['Nacionalidad'] = ds['Nacionalidad'].astype(np.int64)
<ipython-input-33-fdc8c970dc10>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ds['SSP_ID_MINUSVALIA'] = ds['SSP_ID_MINUSVALIA'].astype(np.int64)

In [34]:
ds.dtypes

STD_ID_PERSON         int64
STD_N_GENDERESP       int64
Num_Periodo           int64
SSP_ID_CONT_INTERN    int64
SSP_NM_CONT_INESP     int64
SSP_NO_DEFINIDO       int64
CSP_N_AG_CATEGOR      int64
CSP_NM_CATEGORESP     int64
STD_N_WU_TYPEESP      int64
STD_WORK_LOCESP       int64
CSP_N_COLECTIVO       int64
Edad                  int64
Nacionalidad          int64
SSP_ID_MINUSVALIA     int64
dtype: object

In [35]:
ds

,STD_ID_PERSON,STD_N_GENDERESP,Num_Periodo,SSP_ID_CONT_INTERN,SSP_NM_CONT_INESP,SSP_NO_DEFINIDO,CSP_N_AG_CATEGOR,CSP_NM_CATEGORESP,STD_N_WU_TYPEESP,STD_WORK_LOCESP,CSP_N_COLECTIVO,Edad,Nacionalidad,SSP_ID_MINUSVALIA
0,1000004,1,1,2,55,0,2,0,14,0,0,73,15,0
38319,1000005,0,1,2,55,0,2,9,14,0,0,53,15,0
60842,1000014,1,1,6,20,0,2,10,16,0,0,41,15,0
81789,1000014,1,2,6,20,0,2,10,5,0,0,41,15,0
78733,1000014,1,1,6,20,0,2,10,16,0,0,41,15,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84887,1030728,0,1,29,2,1,2,10,5,0,0,54,15,0
84888,1030757,0,1,30,10,1,2,10,5,0,2,31,15,0
84889,1030762,0,1,36,26,1,1,4,52,0,2,36,15,0
84890,1030763,0,1,55,36,0,1,4,35,0,0,43,15,0
84892,1030781,1,1,30,10,1,1,11,64,0,2,23,15,0

In [39]:
X = ds.iloc[:,:].values
print(X)

[[1000004       1       1 ...      73      15       0]
 [1000005       0       1 ...      53      15       0]
 [1000014       1       1 ...      41      15       0]
 ...
 [1030762       0       1 ...      36      15       0]
 [1030763       0       1 ...      43      15       0]
 [1030781       1       1 ...      23      15       0]]

In [40]:
X = StandardScaler().fit_transform(X)

In [41]:
url = 'https://raw.githubusercontent.com/aloa04/tfm/main/model_ml/CART.joblib'
loaded_model = joblib.load(urlopen(url))

C:\Users\Chemagdlc\anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.0.2 when using version 0.24.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [51]:
#test
import pickle
import urllib.request 

url = 'https://raw.githubusercontent.com/aloa04/tfm/main/model_ml/CART.sav'
loaded_model = pickle.load(urllib.request.urlopen(url))

HTTPError: HTTP Error 404: Not Found

In [42]:
y_pred = loaded_model.predict(X)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [ ]:
pred = pd.DataFrame({'Predicted':y_pred})
pred